@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Lista de Paquetes Turísticos</h1>

@if (ViewBag.VerificarPaquete != false)
{
    <table>
    @if(ViewBag.Paquetes != null){
        <tr>
            <th>Destino</th>
            <th>Hotel</th>
            <th>Aéreo</th>
            <th>Excursión</th>

        </tr>
        <br>
        
        @foreach (var paquete in ViewBag.Paquetes)
        {
        <tr>
                <td>@paquete.Key</td>
                <td><img src="@Url.Content(paquete.Value.Hotel)" width="240" height="120"></td>
                <td><img src="@Url.Content(paquete.Value.Aereos)" width="240" height="120"></td>
                <td><img src="@Url.Content(paquete.Value.Excursion)" width="240" height="120"></td>
           </tr> 
        }
        }
        
    </table>
}
else
{
    <p>No se han creado paquetes turísticos.</p>
}
<br>
<form action='@Url.Action("BorrarPaquete")'>
<div>
Ingrese el paquete que quiere borrar:
<input type="text" name="Clave" placeholder="Ingrese el nombre del destino">
<input type="Submit" name="Enviar">
</div>
</form>
<br>
<a href='@Url.Action("Selectpaquete")'>Crear Paquete</a>

</body>
</html>